[Desktop Entry]
Name=Edge
X-KDE-PluginInfo-Author=Yisus7u7
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=yisus.dev@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Edge
X-KDE-PluginInfo-Version=1.0
