[Desktop Entry]
Name=Edge-light
X-KDE-PluginInfo-Author=Yisus7u7
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=dev.yisus@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Edge-light
X-KDE-PluginInfo-Version=1.0
